/* Start Global Rules */
* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

*:focus {
	outline: none;	
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Hammersmith One", sans-serif;
	z-index: -1;
}

:root {
    --main-color: #2A9963;
    --second-color: #C8E4D6;
    --dark: #1b2538;
	--transition-delay: 0.4s;
}

.container {
	padding: 0px 20px;
	margin: auto;
}

@media (max-width: 992px) {
	.container {
		padding: 0px 40px;
	}
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--main-color);
}

/*End Global Rules*/

/*Start The Header*/
header img {
	padding: 30px 0px;
}

@media (max-width: 769px) {
	header nav #menu-icon {
		display: block !important;
		font-size: 1.5rem;
		cursor: pointer;
	}

	header nav .links {
		display: none;
		position: absolute;
		background-color: white;
		font-size: 1.5rem;
    	width: 100%;
    	height: 100vh;
    	top: 0px;
    	left: 0px;
   	 	flex-direction: column;
   	 	align-items: center;
   	 	justify-content: center;
   	 	gap: 30px;
    	padding: 20px;
    	z-index: 1;
	}

	header nav #close-menu-icon {
		color: red;
		position: absolute;
		top: 40px;
		right: 40px;
		font-size: 1.5rem;
		z-index: 2;
		cursor: pointer;
	}
}

header nav ul li a {
	transition: var(--transition-delay) ease color;
}

header nav ul li a:hover {
	color: var(--main-color);
}
/*End The Header*/

/*Start The Landing*/
section.landing {
	min-height: calc(100vh - 97px);
}

section.landing .container {
	transform: translateY(-15%);
}

@media (max-width: 769px) {
	section.landing .container {
		gap: 50px;
		flex-wrap: wrap;
		flex-direction: column-reverse;
		align-items: center;
		transform: translateY(0%);
	}

	section.landing .container .text {
		text-align: center;
	}

	section.landing img {
		max-width: 100% !important;
		height: auto;
	}
}

@media (max-width: 420px) {
	section.landing .container {
		transform: translateY(-50px);
	}
}

section.landing .container .text {
	max-width: 500px;
	min-width: 300px;
}

section.landing .container .text h1 span {
	color: var(--main-color);
}

section.landing .container .text a {
	color: var(--main-color);
	border-bottom: 2px solid var(--main-color);
}

section.landing img {
	max-width: 500px;
	min-width: 200px;
}
/*End The Landing*/

/*Start Tasks Page Aside*/
main {
	min-height: 100vh;
}

main > div.links {
	position: fixed;
	left: 40px;
	bottom: 40px;
	color: white;
	background-color: var(--main-color);
	z-index: 5;
}

@media (min-width: 769px) {
	main > div.links {
		display: none;
	}
}

main > div.links > span {
	cursor: pointer;
	transition: var(--transition-delay) ease all;
}

main > div.links > .active {
	background-color: var(--dark);
}

main > div.links > span:hover {
	background-color: var(--dark);
}

main::after { /* Logo For Small Screens */
	content: "";
    background: url(../images/index/logo.webp) no-repeat;
    background-size: auto 30px;
    height: 30px;
    aspect-ratio: 493/148;
    position: absolute;
    top: 1.75rem;
    right: 2.5rem;
}

@media (min-width: 769px) {
	main::after {
		display: none;
	}
}

main aside .pages span {
	color: var(--dark);
	font-size: 1.1rem;
	transition: var(--transition-delay) ease color;
}

main aside .pages span:hover {
	color: var(--main-color);
}

main aside .pages span.active {
	color: var(--main-color);
}

main aside .pages i {
	margin-right: 10px;
}
/*End Tasks Page Aside*/

/*Start Tasks Page Section*/
main section.tasks-section .section-title::after {
	content: "";
	background-color: var(--dark);
	position: absolute;
	transition: var(--transition-delay) ease all;
	bottom: 0px;
	left: 50%;
	transform: translateX(-50%);
	height: 2px;
	width: 0%;
}

main section.tasks-section .section-title:hover::after{
	width: 100%;
}

main section.tasks-section .section-title h1 {
	color: var(--dark);
}

main section.tasks-section .tasks-list .task {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 12px 16px;
	position: relative;
}

main section.tasks-section .tasks-list .task > .task-info > h2 {
	font-size: 1.125rem;	
	line-height: 1.75rem; 
}

main section.tasks-section .tasks-list .task > .task-info > span {
	font-size: 0.875rem;
	line-height: 1.25rem
}

main section.tasks-section .tasks-list .finished {
	background-color: #C8E4D6;
}

main section.tasks-section .tasks-list .pending {
	background-color: #FDDFCD;
}

main section.tasks-section .tasks-list .canceled {
	background-color: #F4CBCB;
}

main section.tasks-section .tasks-list .task > span {
	height: 10px;
	width: 10px;
	border-radius: 50%;
}

main section.tasks-section .tasks-list .finished > span {
	background-color: var(--main-color);
}

main section.tasks-section .tasks-list .pending > span {
	background-color: #FF914D;
}

main section.tasks-section .tasks-list .canceled > span {
	background-color: #FF3131;
}

main section.tasks-section .tasks-list .finished .task-info span > span {
	color: var(--main-color);
}

main section.tasks-section .tasks-list .pending .task-info span > span {
	color: #FF914D;
}

main section.tasks-section .tasks-list .canceled .task-info span > span {
	color: #FF3131;
}

main section.tasks-section .add-task {
	color: white;
	background-color: var(--main-color);
	bottom: 40px;
	right: 40px;
	border-radius: 50%;
	cursor: pointer;
	transition: var(--transition-delay) ease all;
}

main section.tasks-section .true {
	background-color: red;
	transform: rotate(45deg);
}

/*Start Create Task Popup*/
main > .task-pop {
	display: none;
	width: 400px;
	color: white;
	padding: 20px;
	background-color: var(--dark);
	position: absolute;
	border-radius: 5px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: 1s ease popup-opacity-open;
	z-index: 5;
}

@media (max-width: 769px) {
	main > .task-pop {
		max-width: 80%;
	}
}

@keyframes popup-opacity-open {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes popup-opacity-close {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

main > .task-pop > input {
	font-size: 0.8rem;
	display: block;
	padding: 8px;
	color: var(--main-color);
}

main > .task-pop > label {
	display: block;
	margin-bottom: -15px;
}

main > .task-pop .task-type > input {
	appearance: none;
	display: block;
}

main > .task-pop .task-type > label {
	background-color: white;
	text-align: center;
	color: var(--dark);
	display: inline-block;
	width: 80px;
	padding: 10px 0px;
	transition: var(--transition-delay) ease all;
	cursor: pointer;
	width: 100%;
}

main > .task-pop .task-type > label:hover {
	background-color: var(--main-color);
	color: white;
}

main > .task-pop .task-type > input:checked + label {
	background-color: var(--main-color);
	color: white;
}

main > .task-pop button {
	background-color: #ddd;
	color: var(--dark);
	padding: 5px;
	cursor: no-drop;
	transition: var(--transition-delay) ease all;
}
/*End Create Task Popup*/
/*End Tasks Page Section*/

/*Start Developed By Page*/
div.card {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 450px;
}

div.card .info > span {
	width: 2px;
	height: 30px;
	background-color: #000;
}

div.card .info > div > p {
	color: var(--main-color);
}

div.card .social a {
	transition: var(--transition-delay) ease all;
}

div.card .social a:hover {
	color: var(--main-color);
}

@media (max-width: 769px) {
	div.card {
		min-width: 300px;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
}

/*End Developed By Page*/