/* Start Global Rules */
* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

*:focus {
	outline: none;	
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Hammersmith One", sans-serif;
}

:root {
    --main-color: #2A9963;
    --second-color: #C8E4D6;
    --dark: #1b2538;
	--transition-delay: 0.4s;
}

.container {
	margin: auto;
	padding: 0px 20px;
}

@media (max-width: 992px) {
	.container {
		padding: 0px 40px;
	}
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--main-color);
}

/*End Global Rules*/

/*Start The Header*/
@media (max-width: 769px) {
	header nav i {
		display: block !important;
		font-size: 1.5rem;
		cursor: pointer;
	}

	header nav i:hover + ul {
		display: flex;
	}

	header nav .links {
		display: none;
		gap: 0px;
		position: absolute;
		background-color: white;
    	width: 100%;
    	top: 0px;
    	left: 0px;
   	 	flex-direction: column;
   	 	align-items: stretch;
    	padding: 20px;
	}

	header nav ul li {
		padding: 20px 0px;
		border-bottom: 1px solid #000;
	}

	header nav ul li:last-child {
		border-bottom: none;
	}
}

header nav ul li a {
	transition: var(--transition-delay) ease color;
}

header nav ul li a:hover {
	color: var(--main-color);
}
/*End The Header*/

/*Start The Landing*/
section.landing {
	min-height: calc(100vh - 120px);
}

section.landing .container {
	transform: translateY(-15%);
}

@media (max-width: 769px) {
	section.landing .container {
		gap: 50px;
		flex-wrap: wrap;
		flex-direction: column-reverse;
		align-items: center;
		transform: translateY(0%);
	}

	section.landing .container .text {
		text-align: center;
	}

	section.landing img {
		max-width: 100% !important;
		height: auto;
	}
}

section.landing .container .text {
	max-width: 500px;
	min-width: 300px;
}

section.landing .container .text h1 span {
	color: var(--main-color);
}

section.landing .container .text a {
	color: var(--main-color);
	border-bottom: 2px solid var(--main-color);
}

section.landing img {
	max-width: 500px;
	min-width: 200px;
}
/*End The Landing*/